.griddiv{
    display: grid;
    grid-template-columns: 300px 500px;
    grid-template-rows: auto 1fr ;
    gap: 20px;
}

.griddiv div{
    border: 2px solid #ff0000;
    border-radius: 30px;

}

.griddiv div:hover{
    box-shadow: 50px 50px 100px gray;
    transition: all .5s ease-in-out;
}